#ad-main,
        #ad468,
        .advertisment,
        #left_ads,
        .sponsoredLinks,
        #sponsorAdDiv,
        #advertising_wrapper,
        .adtable,
        .adbar,
        .listad,
        #body_ad,
        .ad_wrapper,
        #advert_box,
        div[data-native_ad],
        .right_ad,
        a[onmousedown^="this.href='https://paid.outbrain.com/network/redir?"][target="_blank"],
        #ad-banner,
        #ad_content,
        #ads_wrapper,
        .pub_300x250m,
        #ad-header-728x90,
        object[width="1000"][height="270"],
        #reklama,
        object[width="200"][height="200"],
        #featured-ads,
        div[id^="google_ads_iframe_"],
        a[href^="http://ads.betfair.com/redirect.aspx?"],
        .adTopHome,
        .ad_container,
        .withAds,
        .custom-ad,
        #footer_ads,
        #content_ads,
        #content_adv,
        .grid-item-ad,
        .adarea,
        iframe[width="100%"][height="120"],
        #advertising2,
        .ads_div,
        #adHeader,
        iframe[width="100%"][height="60"],
        .top_ad_wrap,
        .advert_area,
        .ADBAR,
        object[width="300"][height="300"],
        .addiv,
        #left-ad,
        .rightadv,
        .header-ad,
        .wp_bannerize,
        iframe[width="200"][height="240"],
        .ads-content,
        #ad728,
        #adSense,
        .banner-468x60,
        .adHeaderblack,
        .ads-inline,
        .tm-ads,
        #adimg1,
        .showAd,
        .ad_trick_header,
        #logo_ad,
        .middle_AD,
        .post-ads,
        #AdContainer,
        #influads_block,
        #advtop,
        .adunit,
        .advert-container,
        .top-banners,
        .puff-ad,
        .featuredAdBox,
        .bottomAds,
        #adtechWallpaper,
        .img_ad,
        .homepage_ads,
        a[href^="http://ads2.williamhill.com/redirect.aspx?"],
        #ad_overlay,
        .showads,
        #banner_ad,
        .sidebar-ads,
        #side_ads,
        .easyazon-block,
        .boxadv,
        .bottom-ads,
        #adBanner1,
        .tc_ad_unit,
        .header_advert,
        .SponsoredContent,
        .insert-post-ads,
        #ad_728_90,
        #takeover_ad,
        .SponsorAds,
        .advertorial,
        .ad_slug_table,
        #AD_banner,
        .TopAdContainer,
        .category-ad,
        .resultad,
        #my-adsFPAD,
        #top_ad,
        #topbannerad,
        #adheader,
        .ad-panel,
        .content_tagsAdTech,
        #bigAd,
        .ads_wrapper,
        .newsAd,
        #AD_Top,
        .y7-advertisement,
        a[href*=".revimedia.com/"],
        .ads-list,
        .ad-body,
        .premiumAdOverlay,
        .adslot,
        object[width="300"][height="60"],
        .section-sponsor,
        #topAdSpace_div,
        #bigad,
        .content_ads,
        .ad_head_rectangle,
        .adsBlock,
        .publicidade,
        .ad-icon,
        .adkit,
        #advertContainer,
        #featuread,
        .google-ads,
        .ad_160,
        .adbutton,
        #adsIframe,
        .adItem,
        .ad_block,
        #adsense-bottom,
        #showads,
        .advertLink,
        .flash-advertisement,
        .ad_top,
        .adsense-block,
        .ad-bar,
        .mobile-ad,
        #adGallery,
        .advert_container,
        #AdImage,
        .container_row_ad,
        .ad-btn,
        #AD-300x250,
        #main_ad,
        .td-header-ad-wrap,
        .googleAds,
        .ad_promo,
        .smallAd,
        .oio-banner-zone,
        .ad-cat,
        .ad_336,
        .ad-text,
        .bottom-left-ad,
        #mpu2,
        .oasad,
        .ad-holder,
        .sticky-ad,
        #right_adsense,
        object[width="260"][height="130"],
        a[href^="http://click.payserve.com/"],
        .quads-location,
        .chitika-ad,
        #leftad,
        .ad-leaderboard,
        #google_ads,
        .ad-vertical-container,
        .m-ad,
        #promo-ad,
        a[href^="http://ad-emea.doubleclick.net/"],
        .ad-position,
        .ad-rail,
        .ads-bg,
        .reportAdLink,
        .marketing-ad,
        .banners_block,
        #dfp_ad_Entry_728x90,
        .home-ads,
        .ad_Right,
        .text_ad,
        #adBelt,
        #divAdBox,
        .ad-title,
        #bottomAds,
        .banner-ad,
        #msad,
        .homeAd,
        #adnews,
        .can_ad_slug,
        .HomeAds,
        .ads-holder,
        #adLink1,
        .banner-728x90,
        .topAds,
        .bsac,
        .ad-section,
        .searchAds,
        .homead,
        .advert-content,
        #WNAd41,
        a[href^="http://ad.doubleclick.net/"],
        .ads-1,
        .ads-3,
        .ads-2,
        #ad-top-wrapper,
        .after-post-ad,
        .ad-index,
        #SponsoredLinks,
        .banner160x600,
        .textads,
        .admain,
        .player_ad,
        #ad-background,
        .btn-ad,
        #bannerAdWrapper,
        .ad-wrapper,
        .advert2,
        #ad-text,
        .adverts,
        .adstop,
        .logo-ad,
        .TopBannerAd,
        a[href^="http://marketgid.com"],
        #ads-wrapper,
        a[href^="https://redirect.ero-advertising.com"]>img,
        .ads-area,
        .ddb,
        .box-ads,
        a[href^="http://adultfriendfinder.com/p/register.cgi?pid="],
        #adbrite,
        .advertColumn,
        .ad-header,
        #adDiv,
        .wideAd,
        #leaderAd,
        .ad_960,
        a[href*="/adrotate-out.php?"],
        .ad-img,
        .adSquare,
        .ads_top,
        .ad-enabled,
        .adWidget,
        #PageLeaderAd,
        #Adcode,
        .bannerAd,
        #ad_text:not(textarea),
        #ad-top-banner-placeholder {
  display: none !important;
}

.banner300,
        #adsensewide,
        .right-ad,
        .adtop,
        #cmn_ad_tag_head,
        .bottom_ad_block,
        .ad-scroll,
        #adcontainer,
        .main-ads,
        .post_ad,
        .playerAd,
        #myAd,
        .adverttext,
        .adshome,
        .bannerad,
        .nav-ad,
        #theAd,
        .dfp_ad,
        .ads-col,
        .ad300,
        .plainAd,
        #adleft,
        .ad_160x600,
        .ads-header,
        .greyAd,
        #rh-ad,
        .adver,
        a[href^="http://www.liutilities.com/"],
        .adfree,
        #adcontent,
        .popup-ad,
        .adv_td,
        #advertisetop,
        .ad_wrap,
        .banner_ads,
        .skyscraperAd,
        .ad468,
        #ad-overlay,
        #Adrectangle,
        #advert2,
        #adverts,
        #game-ad,
        #adsIfrme2,
        #adsIfrme3,
        .ad_728x90,
        .ad_space,
        #centerads,
        .sponsor-box,
        .home-ad,
        #ad_wrapper,
        .inner_ad,
        img[width="240"][height="400"],
        #sideAd,
        .headerAd,
        .block-ec_ads,
        .blog-ads,
        #BottomAds,
        .ads-section,
        img[width="240px"][height="400px"],
        a[href^="http://mgid.com/"],
        #adlabel,
        #wrapAd,
        #ad-column,
        .type_ads_default,
        #ads_top,
        .displayAd,
        .ad_unit,
        #ad-panel,
        iframe[id^="google_ads_frame"],
        .headerad,
        #banner-ad,
        #adcode,
        .aalb-pg-ad-unit,
        .refreshAds,
        .premiumAdOverlayClose,
        .ad728,
        .pub_300x250,
        .AdBody:not(body),
        .item-container-ad,
        .adzone,
        .top-ad-wrapper,
        .rectangle_ad,
        .adLink,
        .advert-block,
        .header_ad_center,
        #ka_adRightSkyscraperWide,
        AMP-AD,
        #ads-col,
        .adRotator,
        #AdColumn,
        .tower-ad,
        iframe[id^="google_ads_iframe"],
        .header-ads,
        #top-ad,
        .text-ad-links,
        .ad-leader-top,
        .pub_728x90,
        .advertising_block,
        #ad_wrap,
        .ad-inner,
        .ad_trick_left,
        #ad_area,
        #head-ad,
        .contentAd,
        .ad-card,
        .ad-item,
        a[href^="https://www.mrskin.com/tour"],
        .block-ad,
        .ad-links,
        #adspot-300x250-pos-1,
        #adspot-300x250-pos-2,
        #mini-ad,
        .box-radvert,
        a[href^="http://us.marketgid.com"],
        .AdvertContainer,
        #adText,
        #ad_thread_first_post_content,
        .featured-ad,
        .ad-row,
        .m-in-content-ad-row,
        #ad-header,
        .rightAd,
        .AdHere,
        .text_ads,
        .ad-root,
        div[id^="crt-"][style],
        .advert-horizontal,
        #top_ad_game,
        .ads-right,
        #ad_unit,
        .adBanner,
        .top_ads,
        .rightad,
        #adLeader,
        .boxad,
        a[href*=".trust.zone"],
        img[width="468"][height="60"],
        .advertbox,
        #AdHeader,
        a[href^="http://pubads.g.doubleclick.net/"],
        .adslot_1,
        .ad-top,
        .ec-ads-remove-if-empty,
        .ipsAd,
        .adframe,
        #ad_square,
        #AdRectangle,
        .leaderboard-ads,
        .footer_ad,
        #adv-masthead,
        .ads_catDiv,
        #Advertisements,
        .taboola-ad,
        .ad_banner,
        .ad-grid,
        .adbox2,
        .article-advert,
        .singleAd,
        .adHoldert,
        #adsdiv,
        .skinAd,
        .AdPanel,
        .ad_spot,
        a[href^="https://servedbyadbutler.com/"],
        #logoAd,
        .text-ad,
        .adHead,
        #adhead,
        #dfp_ad_Home_728x90,
        #rightAd,
        .advertiser,
        .adWrap,
        .ad_leaderboard,
        #topBannerAd,
        .top-advert,
        #top_ads,
        .desktop-ad,
        .promoAd,
        .adbanner,
        #right_ads,
        .ad-post,
        .item-ads,
        #bannerAd,
        .chitikaAdBlock,
        .adsbygoogle,
        .searchad,
        .Adsense,
        .ad_outer,
        #ad-1,
        #ad-2,
        .trc_rbox_border_elm .syndicatedItem,
        #skybox-ad,
        .page_ad,
        .adsBox,
        #publicidad,
        #mpu_container,
        .advertising_banner,
        .ad_title,
        #bannerad,
        .forumAd,
        #contentAd,
        .header-advert,
        #divAd,
        a[href^="http://affiliate.coral.co.uk/processing/"],
        #adsHeader,
        .ad90,
        #adposition3,
        .leaderboard-ad,
        .ad-left,
        .ad-button,
        .adright,
        .adFrameCnt,
        #ad_global_above_footer,
        .sky_ad,
        #ad_1,
        #ad_2,
        #ad_3,
        #ad_5,
        #ad_4,
        .ad-970,
        #leaderBoardAd,
        #headerAdContainer,
        .adBar,
        #contentad,
        #gridAdSidebar,
        .adtile,
        .advert-wrapper,
        .ads-top,
        a[href^="http://online.ladbrokes.com/promoRedirect?"],
        .container_ad,
        .adBox,
        #ads1,
        .ad_1,
        .ad_2,
        .ad_3,
        .list-ad,
        .nativead,
        a[href^="//awejmp.com/"],
        .post-ad,
        .advertisement-1,
        .adv_txt,
        .ad_bottom,
        .adv-box,
        .ads1,
        .IM_ad_unit,
        .adMessage,
        #ad_space,
        .dfp-ad,
        object[width="640"][height="160"],
        .ad-served {
  display: none !important;
}

.AdTitle,
        #headerAd,
        .adv_300,
        .ad-loaded,
        #ad-wrapper,
        .AdSense,
        #advertbox3,
        .dfp-ad-unit,
        #adFrame,
        .adModule,
        .adDiv,
        a[href^="http://adserving.unibet.com/"],
        .dfp-banner,
        #div_prerollAd_1,
        #AdvertiseFrame,
        #mochila-column-right-ad-300x250-1,
        .banner-ads,
        #footer_ad,
        #featuredAds,
        .googleAd,
        .article_ad,
        #ad_banner,
        .adChoicesLogo,
        .ad__item,
        .ad-wide,
        #banner-advert-container,
        #ad_main,
        div[itemtype="http://schema.org/WPAdBlock"],
        .ad-link,
        .adRight,
        #banner_topad,
        .ad_description,
        .AdBar,
        .adbottom,
        .ads-loaded,
        .one-ad,
        #ad728x90,
        .adBlock,
        #adright,
        .AdBox,
        #pre_advertising_wrapper,
        .adinfo,
        .rail-ad,
        #ad_top,
        .hasads,
        #adblock,
        #adwrapper,
        .ad-inserter,
        #post-ad,
        #ad-leaderboard,
        .ad_global_header,
        #topAdSpace,
        .content-ad,
        .footerad,
        #topadvert,
        .adv300,
        .trc_rbox_div .syndicatedItem,
        #topAd,
        .sponsorBlock,
        .adSpot,
        .adImg,
        #adBanner,
        #ContentAd,
        #bottom_ad,
        #topad,
        #ad-container,
        .download_ad,
        .slide-ad,
        #adPosition0,
        a[href^="http://www.socialsex.com/"],
        a[href^="http://www.fleshlight.com/"],
        .top_ad,
        #adrectangle,
        #searchAdSenseBox,
        .BannerAd,
        #search-sponsor,
        .adsense-area,
        a[href^="http://www.adskeeper.co.uk/"],
        iframe[width="240"][height="300"],
        .adv-list,
        .textAd,
        #advertise,
        .view_ad,
        #topAds,
        .bottomAdvert,
        #mpu2_container,
        .adElement,
        .trc_related_container div[data-item-syndicated="true"],
        .advertContainer,
        .text-ads,
        #adlayer,
        #bottomads,
        .afs_ads,
        #homead,
        a[href^="http://www.yourfuckbook.com/?"],
        .textad,
        #under_story_ad,
        .rc-item-wrapper,
        .topads,
        #videoAd,
        .featuredAds,
        .side-bar-ad-position1,
        #header-ads,
        .jw-ad,
        .searchads,
        .wnad,
        #TopAd,
        #adbar,
        iframe[src^="http://ad.yieldmanager.com/"],
        .left_ad,
        #RightAdBlock,
        .adResult,
        .player_hover_ad,
        #adstop,
        .ad-placement,
        .adMod,
        .sponsorBottom,
        #adbox,
        #adsContainer,
        .overlay-ads,
        .footer-ad,
        #sidebar_ads,
        embed[width="640"][height="160"],
        .adspace,
        .wpInsertInPostAd,
        .sponsor-logo,
        .leftAd,
        .ad-wrap,
        #searchAd,
        .ad_body,
        .adHolder,
        .adrow1,
        .adrow2,
        .AdSidebar,
        .js-sticky-ad,
        #adbanner,
        .ad-square,
        #ctlDisplayAd1_lblAd,
        .google-sponsored,
        .mid_ad,
        #adcontainer1,
        .leftad,
        .ads_block,
        .adTower,
        .advertText,
        #adLayer,
        #ad_container,
        .review-ad,
        #adframe:not(frameset),
        .b-header-banner,
        #dart-container-728x90,
        .adsbottombox,
        .adPod,
        .aalb-pa-ad-unit,
        #adComponentWrapper,
        .ad-unit,
        #adsense_inline,
        .adContent,
        .gallery-ad,
        #BottomAdContainer,
        input[onclick^="window.open('http://www.FriendlyDuck.com/"],
        .ad__container,
        .small_ad,
        .ad_text,
        .adslot_blurred,
        .category-advertorial,
        .adMiddle,
        .ad-sidebar,
        .bottom-ad,
        .header_ad,
        .adSpace,
        .module-ad,
        #adboard,
        .right_ads_column,
        .adRow,
        .ad-med-rec,
        a[href^="http://adfarm.mediaplex.com/"],
        .adsTop,
        .page-ad,
        iframe[width="728"][height="90"],
        #sky_advert,
        #ad_topslot,
        .ad-source,
        object[width="100%"][height="300"],
        a[href^="https://ad.doubleclick.net/"],
        .adHeadline,
        div[id^="advads-"],
        #adspace,
        div[id^="div-gpt-ad"],
        #ad-area,
        .yom-ad,
        .ads-title,
        .banner_728x90,
        .sidebaradbox,
        .single-ad,
        .adcenter,
        .smallads,
        .openx,
        .top-ad-container,
        #adbackground,
        a[href^="https://www.financeads.net/tc.php?"],
        .ad_middle,
        .ad-unit-300-wrapper,
        .adholder,
        #prerollAd,
        #adsense_block,
        #leftads,
        .adHeader,
        .block-simpleads,
        .headerads,
        object[width="1000"][height="250"],
        #adTower,
        .advertisement__leaderboard,
        .dfp-tag-wrapper,
        #frameAd,
        .innerad,
        .adcolumn,
        .ad-display,
        #ad-unit,
        .googleAdSense,
        #googlead,
        .ad-border,
        a[href^="http://www.mrskin.com/tour"],
        object[width="640"][height="100"],
        #content-header-ad,
        .ad-right,
        .gpt-ad,
        .ad_header,
        .ad-stack,
        .adBottomBoard,
        #rc-row-container,
        .ad-block,
        #bottomAd,
        .horizontal_ad,
        .admiddle,
        #ad_table,
        .top-advertisement,
        #PreRollAd,
        .has-ad,
        .change_AdContainer,
        #player_ads,
        .bsac-container,
        #sponsoredwellcontainerbottom,
        .trc_rbox .syndicatedItem,
        .adsWidget,
        .region-top-ad-position,
        .trc-content-sponsored,
        a[href*="://kingandqueenpro.com/r/?"],
        .cp-adsInited,
        #ad-rotator {
  display: none !important;
}

#bottomad,
        .adscontainer,
        #ads_right,
        .ad-300x250,
        .adholder2,
        .iframe-ad,
        .google_ads,
        .ad-banner,
        .adPanel,
        .google-ad,
        .pushdown-ad,
        .adwords,
        .sideAd,
        .b-advert,
        .advBox,
        iframe[width="300"][height="250"],
        .homepage-ad,
        #ad-top,
        .adheader,
        .ads-300-250,
        #videoads,
        #ad_center,
        #adv-top,
        .node-ad,
        .adcomment,
        .ad_box,
        a[href^="http://www.fbooksluts.com/"],
        #adbody,
        #HouseAd,
        a[href^="https://badoinkvr.com/"],
        .adcont,
        .adlink,
        .imgad,
        .adsense_wrapper,
        .adlist,
        #ads_bottom,
        #text-ads,
        .rbRectAd,
        .sidebar_advert,
        .advert_list,
        #search_ads,
        a[href^="http://websitedhoome.com/"],
        #adspace_top,
        #sponsors-home,
        #header_ad,
        .RelatedAds,
        .contentAds,
        .ads-item,
        #ad_leaderboard,
        .advertisement-block,
        #ad-bg,
        .vertical-ads,
        .ads-iframe,
        .top-ad,
        .ad-content-area,
        #mainAd,
        .b_ad,
        .box-recommend-ad,
        #adWrap,
        #adaptv_ad_player_div,
        .adText,
        #adtext,
        iframe[width="240"][height="400"],
        .banner-ad-container,
        .banner_ad,
        .postad,
        .reklama,
        div[id^="dfp-ad-"],
        #adHolder,
        #leaderboard-advertisement,
        #leaderboardad,
        .story-ad,
        #ad-target,
        .advert-box,
        #leaderboard-ad,
        .reklam,
        img[width="728"][height="90"],
        .adsizewrapper,
        .adTitle,
        #adtop,
        .side-ad,
        .list-ads,
        .td-ad,
        .adSense,
        #ad_header,
        .ad_item,
        .adsbar,
        .ad-fixed,
        #sidebar-ads,
        .post-sponsored,
        .footer-ads,
        #adsense,
        .AD-POST,
        .box_ads,
        .box_adv,
        .AdInfo,
        #sidebar_ad_1,
        .ad_img,
        [id*="ScriptRoot"],
        #sponsorText,
        .adsBanner {
  display: none !important;
}
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
body {
  font-family: 'Droid Sans';
}

.tie-cat-11 a.more-link {
  background-color: #e3005b;
}

.tie-cat-11 .cat-box-content {
  border-bottom-color: #e3005b;
}

.tie-cat-6 a.more-link {
  background-color: #9b59b6;
}

.tie-cat-6 .cat-box-content {
  border-bottom-color: #9b59b6;
}

.tie-cat-10 a.more-link {
  background-color: #3498db;
}

.tie-cat-10 .cat-box-content {
  border-bottom-color: #3498db;
}

.tie-cat-8 a.more-link {
  background-color: #e74c3c;
}

.tie-cat-8 .cat-box-content {
  border-bottom-color: #e74c3c;
}

.tie-cat-9 a.more-link {
  background-color: #1abc9c;
}

.tie-cat-9 .cat-box-content {
  border-bottom-color: #1abc9c;
}

.tie-cat-23 a.more-link {
  background-color: #a1c900;
}

.tie-cat-23 .cat-box-content {
  border-bottom-color: #a1c900;
}

.flat-social a {
  padding: 5px 9px;
}
